<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="page_head(title)">  
    <title>[[${title}]]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" > 
    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" th:href="@{css/aos.css}">

    <!-- <link rel="stylesheet" th:href="@{/css/style.css}"> -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    
  </head>
  <body>

    th:href="@{/}"
    th:href="@{/about}"
    th:href="@{/shop}"
    th:href="@{/cart}"
    th:href="@{/contact}"

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/main.js}"></script>

  </body>
  </html>