<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" th:href="@{/assets/css/style-starter.css}">
  <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
</head>
<body class="sidebar-menu-collapsed">
    <div class="se-pre-con"></div>

  <section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">
  
      <!-- logo start -->
      <div class="logo">
        <h1><a th:href="@{/}">Shopme</a></h1>
      </div>
  
    <!-- if logo is image enable this -->
      <!-- image logo --
      <div class="logo">
        <a href="index.html">
          <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
        </a>
      </div>
       image logo -->
  
      <div class="text-center">
        <a th:href="@{/}" title="logo"><img th:src="@{/assets/images/ShopmeAdminSmall.png}" alt="logo-icon"> </a> <br>
      </div>
      <!-- //logo end -->
  
      <div class="sidebar-menu-inner">
        <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
        <!-- sidebar nav start -->
        <ul class="nav nav-pills nav-stacked custom-nav">
          <li class="active"><a th:href="@{/}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
          </li>
          <!-- <li class="menu-list">
            <a href="#"><i class="fa fa-cogs"></i>
              <span>Elements <i class="lnr lnr-chevron-right"></i></span></a>
            <ul class="sub-menu-list">
              <li><a href="carousels.html">Carousels</a> </li>
              <li><a href="cards.html">Default cards</a> </li>
              <li><a href="people.html">People cards</a></li>
            </ul>  
          </li>-->
          <!-- 
            <a th:href="@{/categories"></a>
            <a th:href="@{/brands}"></a>
            <a th:href="@{/products}"></a>
            <a th:href="@{/customers}"></a>
            <a th:href="@{/shipping}"></a>
            <a th:href="@{/orders}"> </a>
            <a th:href="@{/menus}"></a>
            <a th:href="@{/settings}"> </a>-->
  
            <li><a th:href="@{/users}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span>Users</span></a></li>
            <li><a href="#"><i class="fi fi-rr-apps"></i><span>Categories</span></a></li>
            <li><a href="#"><i class="fi fi-rr-star "></i><span>Brands</span></a></li>
            <li><a href="#"><i class="fi fi-rr-shopping-cart-add"></i> <span>Products</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i> <span>Customers</span></a></li>
            <li><a href="#"><i class="fi fi-rr-truck-side"></i><span>Shipping</span></a></li>
            <li><a href="#"><i class="fa fa-server" aria-hidden="true"></i><span>Orders</span></a></li>
            <!-- <li><a href="#"><a href="forms.html"><i class="fi fa-report"></i><span>Sales Report</span></a></li>
            <li><a href="#"><a href="forms.html"><i class="fa fa-newspaper"></i><span>Articles</span></li</a>> -->
            <li><a href="#"><i class="fa fa-file-text"></i><span>Menus</span></a></li>
            <li><a href="#" ><i class="fa fa-user-circle fa-3x icon-dark" aria-hidden="true"></i><span  sec:authentication="principal.fullname"></span></a></li>
            <li><a href="#"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span>Settings</span></a></li>
            <li><a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
  
        </ul>
        <!-- //sidebar nav end -->
        <!-- toggle button start -->
        <a class="toggle-btn">
          <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
          <i class="fa fa-angle-double-right menu-collapsed__right"></i>
        </a>
        <!-- //toggle button end -->
      </div>
    </div>
    <!-- //sidebar menu end -->
  </section>
  
  <div class="main-content">
    <!-- content -->
    <div class="container ">
      
      <div>
        <h2>Manage Users  |  [[${pageTitle}]]</h2> <br>
      </div>

      <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
      enctype="multipart/form-data"
      th:object="${user}" onsubmit="return checkEmailUnique(this);">
      <input type="hidden" th:field="*{id}" />
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">E-mail:</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128"  />
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">First Name:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"  />
        </div>
      </div>		
      
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Last Name:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"  />
        </div>
      </div>		
      
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Password:</label>
        <div class="col-sm-8">
          <input th:if="${user.id == null}" type="password" class="form-control" 
            th:field="*{password}" required minlength="2" maxlength="20"  />
          
          <input th:if="${user.id != null}" type="password" class="form-control" 
            th:field="*{password}" minlength="2" maxlength="20"  />
        </div>
      </div>		
  
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Roles:</label>
        <div class="col-sm-8">
          <th:block th:each="role : ${listRoles}">
          <input type="checkbox" th:field="*{roles}" 
            th:text="${role.name}"
            th:value="${role.id}"
            class="m-2"
          />
          - <small>[[${role.description}]]</small>
          <br/>
          </th:block>
        </div>
      </div>		
      
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Enabled:</label>
        <div class="col-sm-8">
          <input type="checkbox" th:field="*{enabled}" />
        </div>
      </div>
      
      <!-- <div class="form-group row">
        <label class="col-sm-4 col-form-label">Photos:</label>
        <div class="col-sm-8">
          <input type="hidden" th:field="*{photos}" />
          <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
            class="mb-2" />
          <img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}"
            class="img-fluid" />
        </div>
      </div>						 -->
          
      <div class="text-center">
        <input type="submit" value="Save" class="btn btn-primary m-3" />
        <a th:href="@{/users}" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
    </form>

       
       
                                         


    
    </div>
  </div>


    <!--footer section start-->
  <footer class="dashboard">
    <p>&copy 2023 Shopme. All Rights Reserved | Design by <a href="https://github.com/MrUnwonted" target="_blank"
        class="text-primary">Arjun</a></p>
  </footer>
  <!--footer section end-->
 <!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script th:src="@{/assets/js/modernizr.js}"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	MAX_FILE_SIZE = 102400; // 100KB
	
	moduleURL = "[[@{/users}]]";
	
	function checkEmailUnique(form) {
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		userId = $("#id").val();
		csrfValue = $("input[name='_csrf']").val();
		
		params = {id: userId, email: userEmail, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showWarningModal("There is another user having the email " + userEmail);
			} else {
				showErrorModal("Unknown response from server");
			}
		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});
		
		return false;
	}
</script>

</body>

</html>